In [94]:
import pandas as pd
import numpy as np
from scipy.stats import poisson 
import warnings
warnings.filterwarnings("ignore")

In [103]:
def league_matches(x):
    dfList = []
    for i in range(5, 21):
        df=pd.read_csv("http://www.football-data.co.uk/mmz4281/{0:02d}{1:02d}".format(i,i+1)+f"/{x}.csv",error_bad_lines=False,encoding='latin1')
        
        df = df[['Date','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HS', 'AS','B365H', 'B365D', 'B365A']]
        dfList.append(df)
        Data = dfList[0].append(dfList[1:])
    return Data

In [158]:
%time
Bundesliga=league_matches('D1')
EPL=league_matches('E0')
LaLiga=league_matches('SP1')
SerieA=league_matches('I1')

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 9.06 µs

In [143]:
Bundesliga

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,B365H,B365D,B365A
0,05/08/05,Bayern Munich,M'gladbach,3,0,H,19,10,1.30,5.00,9.50
1,06/08/05,Duisburg,Stuttgart,1,1,D,11,11,2.75,3.25,2.25
2,06/08/05,FC Koln,Mainz,1,0,H,14,19,2.10,3.25,3.00
3,06/08/05,Hamburg,Nurnberg,3,0,H,12,17,1.57,3.40,5.50
4,06/08/05,Hannover,Hertha,2,2,D,12,15,2.40,3.20,2.60
...,...,...,...,...,...,...,...,...,...,...,...
13,26/09/2020,Mainz,Stuttgart,1,4,A,11,15,2.37,3.50,2.90
14,26/09/2020,M'gladbach,Union Berlin,1,1,D,14,15,1.44,4.50,7.50
15,26/09/2020,Schalke 04,Werder Bremen,1,3,A,17,17,2.50,3.40,2.80
16,27/09/2020,Hoffenheim,Bayern Munich,4,1,H,17,14,11.00,7.50,1.20
17,27/09/2020,Freiburg,Wolfsburg,1,1,D,21,8,3.20,3.30,2.30

In [148]:
EPL

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,B365H,B365D,B365A
0,13/08/05,Aston Villa,Bolton,2.0,2.0,D,3.0,13.0,2.30,3.25,3.00
1,13/08/05,Everton,Man United,0.0,2.0,A,10.0,12.0,5.00,3.40,1.72
2,13/08/05,Fulham,Birmingham,0.0,0.0,D,15.0,7.0,2.37,3.25,2.87
3,13/08/05,Man City,West Brom,0.0,0.0,D,15.0,13.0,1.72,3.40,5.00
4,13/08/05,Middlesbrough,Liverpool,0.0,0.0,D,4.0,16.0,2.87,3.20,2.40
...,...,...,...,...,...,...,...,...,...,...,...
23,27/09/2020,Tottenham,Newcastle,1.0,1.0,D,23.0,6.0,1.45,4.50,7.00
24,27/09/2020,Man City,Leicester,2.0,5.0,A,16.0,7.0,1.28,6.00,9.50
25,27/09/2020,West Ham,Wolves,4.0,0.0,H,15.0,11.0,3.60,3.50,2.05
26,28/09/2020,Fulham,Aston Villa,0.0,3.0,A,16.0,12.0,2.90,3.25,2.50
27,28/09/2020,Liverpool,Arsenal,3.0,1.0,H,21.0,4.0,1.45,4.75,6.50

In [145]:
LaLiga

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,B365H,B365D,B365A
0,27/08/05,Alaves,Barcelona,0,0,D,5,17,7.00,3.75,1.50
1,27/08/05,Ath Bilbao,Sociedad,3,0,H,10,9,2.00,3.25,3.25
2,27/08/05,Valencia,Betis,1,0,H,9,14,2.00,3.25,3.25
3,28/08/05,Ath Madrid,Zaragoza,0,0,D,16,9,1.72,3.40,4.00
4,28/08/05,Cadiz,Real Madrid,1,2,A,15,17,7.50,4.00,1.44
...,...,...,...,...,...,...,...,...,...,...,...
19,27/09/2020,Eibar,Ath Bilbao,1,2,A,7,9,3.00,3.00,2.55
20,27/09/2020,Ath Madrid,Granada,6,1,H,17,11,1.50,4.00,7.50
21,27/09/2020,Cadiz,Sevilla,1,3,A,12,14,5.00,3.60,1.70
22,27/09/2020,Valladolid,Celta,1,1,D,10,5,2.80,3.00,2.70
23,27/09/2020,Barcelona,Villarreal,4,0,H,17,5,1.53,4.33,6.00

In [146]:
SerieA

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,B365H,B365D,B365A
0,27/08/05,Fiorentina,Sampdoria,2.0,1.0,H,15.0,9.0,2.20,2.87,3.25
1,27/08/05,Livorno,Lecce,2.0,1.0,H,17.0,6.0,1.90,2.90,4.00
2,28/08/05,Ascoli,Milan,1.0,1.0,D,8.0,16.0,7.50,3.75,1.40
3,28/08/05,Inter,Treviso,3.0,0.0,H,16.0,7.0,1.16,5.50,13.00
4,28/08/05,Juventus,Chievo,1.0,0.0,H,16.0,2.0,1.25,5.00,13.00
...,...,...,...,...,...,...,...,...,...,...,...
12,27/09/2020,Napoli,Genoa,6.0,0.0,H,18.0,3.0,1.30,5.50,10.00
13,27/09/2020,Verona,Udinese,1.0,0.0,H,8.0,14.0,2.70,3.00,2.80
14,27/09/2020,Crotone,Milan,0.0,2.0,A,5.0,11.0,6.00,4.50,1.50
15,27/09/2020,Roma,Juventus,2.0,2.0,D,7.0,6.0,3.60,3.60,2.00
16,28/09/2020,Bologna,Parma,4.0,1.0,H,11.0,8.0,1.95,3.60,3.60

In [149]:
#There´s different date formats, so let´s homogenize them, to convert them to datetime type
def date_correction(y):
    x=y.split('/')
    if len(x[-1])==2:
        aux='20'+x[-1]
        x.pop(-1)
        x.append(aux)
    else:
        pass
    return ('/'.join(x))

In [136]:
England

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,B365H,B365D,B365A
0,13/08/05,Aston Villa,Bolton,2.0,2.0,D,3.0,13.0,2.30,3.25,3.00
1,13/08/05,Everton,Man United,0.0,2.0,A,10.0,12.0,5.00,3.40,1.72
2,13/08/05,Fulham,Birmingham,0.0,0.0,D,15.0,7.0,2.37,3.25,2.87
3,13/08/05,Man City,West Brom,0.0,0.0,D,15.0,13.0,1.72,3.40,5.00
4,13/08/05,Middlesbrough,Liverpool,0.0,0.0,D,4.0,16.0,2.87,3.20,2.40
...,...,...,...,...,...,...,...,...,...,...,...
23,27/09/2020,Tottenham,Newcastle,1.0,1.0,D,23.0,6.0,1.45,4.50,7.00
24,27/09/2020,Man City,Leicester,2.0,5.0,A,16.0,7.0,1.28,6.00,9.50
25,27/09/2020,West Ham,Wolves,4.0,0.0,H,15.0,11.0,3.60,3.50,2.05
26,28/09/2020,Fulham,Aston Villa,0.0,3.0,A,16.0,12.0,2.90,3.25,2.50
27,28/09/2020,Liverpool,Arsenal,3.0,1.0,H,21.0,4.0,1.45,4.75,6.50

In [150]:
Germany['Date']=Germany['Date'].apply(date_correction)
#England['Date']=England['Date'].apply(date_correction)
Spain['Date']=Spain['Date'].apply(date_correction)
#Italy['Date']=Italy['Date'].apply(date_correction)

In [135]:
Spain

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,B365H,B365D,B365A
0,27/08/2005,Alaves,Barcelona,0,0,D,5,17,7.00,3.75,1.50
1,27/08/2005,Ath Bilbao,Sociedad,3,0,H,10,9,2.00,3.25,3.25
2,27/08/2005,Valencia,Betis,1,0,H,9,14,2.00,3.25,3.25
3,28/08/2005,Ath Madrid,Zaragoza,0,0,D,16,9,1.72,3.40,4.00
4,28/08/2005,Cadiz,Real Madrid,1,2,A,15,17,7.50,4.00,1.44
...,...,...,...,...,...,...,...,...,...,...,...
19,27/09/2020,Eibar,Ath Bilbao,1,2,A,7,9,3.00,3.00,2.55
20,27/09/2020,Ath Madrid,Granada,6,1,H,17,11,1.50,4.00,7.50
21,27/09/2020,Cadiz,Sevilla,1,3,A,12,14,5.00,3.60,1.70
22,27/09/2020,Valladolid,Celta,1,1,D,10,5,2.80,3.00,2.70
23,27/09/2020,Barcelona,Villarreal,4,0,H,17,5,1.53,4.33,6.00

In [8]:
datas3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4914 entries, 0 to 17
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      4914 non-null   object
 1   HomeTeam  4914 non-null   object
 2   AwayTeam  4914 non-null   object
 3   FTHG      4914 non-null   int64
 4   FTAG      4914 non-null   int64
 5   FTR       4914 non-null   object
 6   HS        4914 non-null   int64
 7   AS        4914 non-null   int64
 8   B365H     4914 non-null   float64
 9   B365D     4914 non-null   float64
 10  B365A     4914 non-null   float64
dtypes: float64(3), int64(4), object(4)
memory usage: 460.7+ KB

In [163]:
##adding season column to the df
%pprint
lst=[]
for i in range(5, 21):
    a="{0:02d}{1:02d}".format(i,i+1)
    lst.append(a)
    
lst
lst=sorted(lst*380) #This list works for leagues that has 20 teams, and 380 games per season
lst=['20'+x for x in lst]

lst_bundes=[]
for i in range(5, 21):
    a="{0:02d}{1:02d}".format(i,i+1)
    lst_bundes.append(a)
    
lst_bundes=sorted(lst_bundes*306) #This list works Bundesliga that has 18 teams, and 306 games per season
lst_bundes=['20'+x for x in lst_bundes]

Pretty printing has been turned OFF

In [164]:
def add_season(league):
    a=len(lst)-len(league['Date'])
    ##to fit the dataframe knowing the difference of the length of the list and the rows
    lista=lst[:-a]
    league['season']=lista
    
    return league

In [165]:
add_season(Spain)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,B365H,B365D,B365A,season
0,27/08/2005,Alaves,Barcelona,0,0,D,5,17,7.00,3.75,1.50,200506
1,27/08/2005,Ath Bilbao,Sociedad,3,0,H,10,9,2.00,3.25,3.25,200506
2,27/08/2005,Valencia,Betis,1,0,H,9,14,2.00,3.25,3.25,200506
3,28/08/2005,Ath Madrid,Zaragoza,0,0,D,16,9,1.72,3.40,4.00,200506
4,28/08/2005,Cadiz,Real Madrid,1,2,A,15,17,7.50,4.00,1.44,200506
...,...,...,...,...,...,...,...,...,...,...,...,...
19,27/09/2020,Eibar,Ath Bilbao,1,2,A,7,9,3.00,3.00,2.55,202021
20,27/09/2020,Ath Madrid,Granada,6,1,H,17,11,1.50,4.00,7.50,202021
21,27/09/2020,Cadiz,Sevilla,1,3,A,12,14,5.00,3.60,1.70,202021
22,27/09/2020,Valladolid,Celta,1,1,D,10,5,2.80,3.00,2.70,202021
23,27/09/2020,Barcelona,Villarreal,4,0,H,17,5,1.53,4.33,6.00,202021

In [166]:
b=len(lst_bundes)-len(Bundesliga['Date'])
lista_b=lst_bundes[:-b]
Bundesliga['season']=lista_b

In [167]:
Bundesliga

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,B365H,B365D,B365A,season
0,05/08/05,Bayern Munich,M'gladbach,3,0,H,19,10,1.30,5.00,9.50,200506
1,06/08/05,Duisburg,Stuttgart,1,1,D,11,11,2.75,3.25,2.25,200506
2,06/08/05,FC Koln,Mainz,1,0,H,14,19,2.10,3.25,3.00,200506
3,06/08/05,Hamburg,Nurnberg,3,0,H,12,17,1.57,3.40,5.50,200506
4,06/08/05,Hannover,Hertha,2,2,D,12,15,2.40,3.20,2.60,200506
...,...,...,...,...,...,...,...,...,...,...,...,...
13,26/09/2020,Mainz,Stuttgart,1,4,A,11,15,2.37,3.50,2.90,202021
14,26/09/2020,M'gladbach,Union Berlin,1,1,D,14,15,1.44,4.50,7.50,202021
15,26/09/2020,Schalke 04,Werder Bremen,1,3,A,17,17,2.50,3.40,2.80,202021
16,27/09/2020,Hoffenheim,Bayern Munich,4,1,H,17,14,11.00,7.50,1.20,202021
17,27/09/2020,Freiburg,Wolfsburg,1,1,D,21,8,3.20,3.30,2.30,202021

# Poisson Distribution

The analysis of this distribution will consist on applying the model to a fixed season, taking into account the previous four, in order to check the effectiveness of the distribution

In [168]:
Bundesliga['season'].unique()

array(['200506', '200607', '200708', '200809', '200910', '201011',
       '201112', '201213', '201314', '201415', '201516', '201617',
       '201718', '201819', '201920', '202021'], dtype=object)

In [173]:
def turn_season_int(df):
    df['season']=df['season'].astype(str).astype(int)

In [174]:
turn_season_int(Spain)

In [175]:
Spain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5724 entries, 0 to 23
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      5724 non-null   object
 1   HomeTeam  5724 non-null   object
 2   AwayTeam  5724 non-null   object
 3   FTHG      5724 non-null   int64
 4   FTAG      5724 non-null   int64
 5   FTR       5724 non-null   object
 6   HS        5724 non-null   int64
 7   AS        5724 non-null   int64
 8   B365H     5724 non-null   float64
 9   B365D     5724 non-null   float64
 10  B365A     5724 non-null   float64
 11  season    5724 non-null   int64
dtypes: float64(3), int64(5), object(4)
memory usage: 581.3+ KB

In [170]:
Bundesliga.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4608 entries, 0 to 17
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      4608 non-null   object
 1   HomeTeam  4608 non-null   object
 2   AwayTeam  4608 non-null   object
 3   FTHG      4608 non-null   int64
 4   FTAG      4608 non-null   int64
 5   FTR       4608 non-null   object
 6   HS        4608 non-null   int64
 7   AS        4608 non-null   int64
 8   B365H     4608 non-null   float64
 9   B365D     4608 non-null   float64
 10  B365A     4608 non-null   float64
 11  season    4608 non-null   int64
dtypes: float64(3), int64(5), object(4)
memory usage: 468.0+ KB

In [199]:
#defining a function to arrange each dataframe per season, starting in the 2007-08 season (the first one to posses
# four previous record seasons)

def df_array(season_number,league):
    s_df=league.loc[(league.season >= season_number-303) & (league.season <= season_number)] 
    #303 represents going further 3 seasons
    return s_df

In [219]:
#let´s check the effectiveness choosing 4 seasons to test, the ones that group 3 previous seasons:
#2021: 1920,1819,1718
#1617: 1516,1415,1314
#1213: 1112,1011,0910
#0809: 0708,0607,0506

season_08_09=df_array(200809,Bundesliga)

season_12_13=df_array(201213,Bundesliga)

season_16_17=df_array(201617,Bundesliga)

season_20_21=df_array(202021,Bundesliga)

In [275]:
##Adding the expected goals based on poisson distribution with the data from the previous 5 tournaments
def teams_strength_and_predictor(df,home,away):
    HomeTeam = df[['HomeTeam', 'FTHG', 'FTAG']].rename(
        columns={'HomeTeam':'Team', 'FTHG':'HomeScored', 'FTAG':'HomeConceded'}).groupby(
        ['Team'], as_index=False)[['HomeScored', 'HomeConceded']].mean()

    AwayTeam = df[['AwayTeam', 'FTHG', 'FTAG']].rename(
        columns={'AwayTeam':'Team', 'FTHG':'AwayConceded', 'FTAG':'AwayScored'}).groupby(
        ['Team'], as_index=False)[['AwayScored', 'AwayConceded']].mean()

    # Overall - Average {leagueHomeScored, leagueHomeConceded, leagueAwayScored, leagueAwayConceded}
    leagueHomeScored, leagueHomeConceded = HomeTeam['HomeScored'].mean(), HomeTeam['HomeConceded'].mean()
    leagueAwayScored, leagueAwayConceded = AwayTeam['AwayScored'].mean(), AwayTeam['AwayConceded'].mean()

    TeamStrength = pd.merge(HomeTeam, AwayTeam, on='Team')

    assert(leagueHomeScored != 0)
    assert(leagueHomeConceded != 0)
    assert(leagueAwayScored != 0)
    assert(leagueAwayConceded != 0)

    # Normalize the parameters 
    # For each team - {HomeAttack, HomeDefence, AwayAttack, AwayDefense}
    TeamStrength['HomeScored'] /= leagueHomeScored
    TeamStrength['HomeConceded'] /= leagueHomeConceded
    TeamStrength['AwayScored'] /= leagueAwayScored
    TeamStrength['AwayConceded'] /= leagueAwayConceded

    TeamStrength.columns=['Team','HomeAttack','HomeDefense','AwayAttack','AwayDefense']
    TeamStrength.set_index('Team', inplace=True)
    overallHomeScored = (leagueHomeScored+leagueAwayConceded)/2
    overallAwayScored = (leagueHomeConceded+leagueAwayScored)/2
    
    #after getting teams strength, we preceed to find the probabilities and expected scores
    
    if home in TeamStrength.index and away in TeamStrength.index:
        H = TeamStrength.at[home,'HomeAttack'] * TeamStrength.at[away,'AwayDefense'] * overallHomeScored
        A = TeamStrength.at[away,'AwayAttack'] * TeamStrength.at[home,'HomeDefense'] * overallAwayScored
        probH, probA, probT = 0, 0, 0  # Probability of Home win(H), Away win(A) or Tie(T) 
        for X in range(0,10):
            for Y in range(0, 10):
                p = poisson.pmf(X,H) * poisson.pmf(Y,A)
                if X == Y:
                    probT += p
                elif X > Y:
                    probH += p
                else:
                    probA += p
        HomeProb=round(probH*100,2)
        TieProb=round(probT*100,2)
        AwayProb=round(probA*100,2)
        scoreH = 3 * probH + probT
        scoreA = 3 * probA + probT
        return (scoreH,scoreA,HomeProb,TieProb,AwayProb)
    else:
        return (0,0,0,0,0)

In [276]:
def predictor(season):
    dummy=season.copy()
    Home_goals=[]
    Away_goals=[]
    home_chance=[]
    tie_chance=[]
    away_chance=[]
    for index, row in dummy.iterrows():
        home, away = row['HomeTeam'], row['AwayTeam']
        rH,rA,cH,cT,cA = teams_strength_and_predictor(season,home,away)
        Home_goals.append(round(rH,2))
        Away_goals.append(round(rA,2))
        home_chance.append(round(cH,2))
        tie_chance.append(round(cT,2))
        away_chance.append(round(cA,2))
    
    dummy['HomeExpectedGoals']=Home_goals
    dummy['AwayExpectedGoals']=Away_goals
    dummy['HomeProbability']=home_chance
    dummy['TieProbability']=tie_chance
    dummy['AwayProbability']=away_chance
    
    return dummy

In [277]:
%time
#Here the function gets the Poisson prediction for every season since 08_09

s0809=predictor(season_08_09)

s1213=predictor(season_12_13)

s1617=predictor(season_16_17)

s2021=predictor(season_20_21)

CPU times: user 4 µs, sys: 1e+03 ns, total: 5 µs
Wall time: 8.82 µs

In [281]:
seasons_poisson=pd.concat([s0809,s1213,s1617,s2021])
seasons_poisson.drop(['HS','AS','B365H','B365D','B365A'], axis=1, inplace=True)
seasons_poisson

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,season,HomeExpectedGoals,AwayExpectedGoals,HomeProbability,TieProbability,AwayProbability
0,05/08/05,Bayern Munich,M'gladbach,3,0,H,200506,2.59,0.28,82.38,12.32,5.26
1,06/08/05,Duisburg,Stuttgart,1,1,D,200506,0.92,1.84,22.91,23.40,53.69
2,06/08/05,FC Koln,Mainz,1,0,H,200506,1.34,1.37,34.91,29.29,35.79
3,06/08/05,Hamburg,Nurnberg,3,0,H,200506,1.98,0.76,57.20,26.09,16.72
4,06/08/05,Hannover,Hertha,2,2,D,200506,1.54,1.22,43.51,23.85,32.64
...,...,...,...,...,...,...,...,...,...,...,...,...
13,26/09/2020,Mainz,Stuttgart,1,4,A,202021,1.84,0.92,53.41,24.02,22.56
14,26/09/2020,M'gladbach,Union Berlin,1,1,D,202021,2.32,0.52,71.78,16.31,11.88
15,26/09/2020,Schalke 04,Werder Bremen,1,3,A,202021,1.17,1.57,30.11,26.16,43.73
16,27/09/2020,Hoffenheim,Bayern Munich,4,1,H,202021,0.61,2.22,14.58,16.92,68.48
17,27/09/2020,Freiburg,Wolfsburg,1,1,D,202021,1.37,1.36,36.36,27.58,36.06

In [280]:
bundesliga_poisson['season'].value_counts()

200506    306
201617    306
201213    306
200809    306
200607    306
201920    306
201516    306
201112    306
200708    306
201819    306
201415    306
201011    306
201718    306
201314    306
200910    306
202021     18
Name: season, dtype: int64

In [282]:
selected_seasons=[200809,201213,201617,202021]
bundesliga_poisson = seasons_poisson[seasons_poisson['season'].isin(selected_seasons)] 
bundesliga_poisson

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,season,HomeExpectedGoals,AwayExpectedGoals,HomeProbability,TieProbability,AwayProbability
0,15/08/08,Bayern Munich,Hamburg,2,2,D,200809,1.93,0.83,56.41,23.88,19.70
1,16/08/08,Bielefeld,Werder Bremen,2,2,D,200809,0.93,1.83,23.20,23.60,53.20
2,16/08/08,Cottbus,Hoffenheim,0,3,A,200809,0.98,1.81,25.84,20.83,53.32
3,16/08/08,Karlsruhe,Bochum,1,0,H,200809,1.27,1.45,32.68,28.57,38.76
4,16/08/08,Leverkusen,Dortmund,2,3,A,200809,1.74,1.03,50.52,22.72,26.76
...,...,...,...,...,...,...,...,...,...,...,...,...
13,26/09/2020,Mainz,Stuttgart,1,4,A,202021,1.84,0.92,53.41,24.02,22.56
14,26/09/2020,M'gladbach,Union Berlin,1,1,D,202021,2.32,0.52,71.78,16.31,11.88
15,26/09/2020,Schalke 04,Werder Bremen,1,3,A,202021,1.17,1.57,30.11,26.16,43.73
16,27/09/2020,Hoffenheim,Bayern Munich,4,1,H,202021,0.61,2.22,14.58,16.92,68.48
17,27/09/2020,Freiburg,Wolfsburg,1,1,D,202021,1.37,1.36,36.36,27.58,36.06

In [284]:
Home_P=bundesliga_poisson['HomeProbability'].to_list()
Away_P=bundesliga_poisson['AwayProbability'].to_list()
Draw_P=bundesliga_poisson['TieProbability'].to_list()

In [287]:
max(Draw_P)

32.22

In [303]:
PoissonPrediction=[]
c=0
while c<len(Home_P):
    if (Home_P[c]-Away_P[c])<=5.0 or (Away_P[c]-Home_P[c])<=5.0:
        PoissonPrediction.append('D')
    else:
        if Home_P[c]>Away_P[c] and Home_P[c]>Draw_P[c]:
            PoissonPrediction.append('H')
        elif Home_P[c]<Away_P[c] and Away_P[c]>Draw_P[c]:
            PoissonPrediction.append('A')
        elif Draw_P[c]>Home_P[c] and Draw_P[c]>Away_P[c]:
            PoissonPrediction.append('D')
        else:
            0
        
    c+=1

In [304]:
PoissonPrediction

['D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D']

In [299]:
Home_P[65]-Away_P[135]

13.64

# Bookers probabilities

With the Bet365 picks we can know who was the favorite team in each match(the minor odd), but the question here is, how accurate it´s the betting site prediction to pick the right team?

In [227]:
b365_bundesliga=Bundesliga.copy()

In [238]:
b365_bundesliga.drop(['HS','AS','season'],axis=1,inplace=True)

In [239]:
B365_H=b365_bundesliga['B365H'].to_list()
B365_D=b365_bundesliga['B365D'].to_list()
B365_A=b365_bundesliga['B365A'].to_list()

In [249]:

B365Result=[]
c=0
while c<len(B365_H):
    if B365_H[c]<B365_D[c] and B365_H[c]<B365_A[c]:
        B365Result.append('H')
    elif B365_D[c]<B365_H[c] and B365_D[c]<B365_A[c]:
        B365Result.append('D')
    elif B365_A[c]<B365_H[c] and B365_A[c]<B365_D[c]:
        B365Result.append('A')
    elif B365_H[c]==B365_D[c] or B365_H[c]==B365_A[c]:
        B365Result.append('H')
    elif B365_A[c]==B365_D[c] or B365_H[c]==B365_A[c]:
        B365Result.append('A')
    
        
        
    else:
        B365Result.append('N')
        
    c+=1

In [250]:
b365_bundesliga['B365Result']=B365Result

In [251]:
b365_bundesliga

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,B365H,B365D,B365A,B365Result,Serie
0,05/08/05,Bayern Munich,M'gladbach,3,0,H,1.30,5.00,9.50,H,True
1,06/08/05,Duisburg,Stuttgart,1,1,D,2.75,3.25,2.25,A,False
2,06/08/05,FC Koln,Mainz,1,0,H,2.10,3.25,3.00,H,True
3,06/08/05,Hamburg,Nurnberg,3,0,H,1.57,3.40,5.50,H,True
4,06/08/05,Hannover,Hertha,2,2,D,2.40,3.20,2.60,H,False
...,...,...,...,...,...,...,...,...,...,...,...
13,26/09/2020,Mainz,Stuttgart,1,4,A,2.37,3.50,2.90,H,False
14,26/09/2020,M'gladbach,Union Berlin,1,1,D,1.44,4.50,7.50,H,False
15,26/09/2020,Schalke 04,Werder Bremen,1,3,A,2.50,3.40,2.80,H,False
16,27/09/2020,Hoffenheim,Bayern Munich,4,1,H,11.00,7.50,1.20,A,False
17,27/09/2020,Freiburg,Wolfsburg,1,1,D,3.20,3.30,2.30,A,False

In [252]:
comparision=b365_bundesliga['FTR']==b365_bundesliga['B365Result']

In [253]:
comparision.value_counts()

True     2357
False    2251
dtype: int64

In [254]:
b365_bundesliga['Serie']=comparision

In [255]:
b365_right=b365_bundesliga[b365_bundesliga['FTR']==b365_bundesliga['B365Result']]

In [260]:
b365_fail=b365_bundesliga[b365_bundesliga['FTR']!=b365_bundesliga['B365Result']]

In [256]:
b365_bundesliga['B365Result'].value_counts()

H    3350
A    1258
Name: B365Result, dtype: int64

In [257]:
b365_right

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,B365H,B365D,B365A,B365Result,Serie
0,05/08/05,Bayern Munich,M'gladbach,3,0,H,1.30,5.00,9.50,H,True
2,06/08/05,FC Koln,Mainz,1,0,H,2.10,3.25,3.00,H,True
3,06/08/05,Hamburg,Nurnberg,3,0,H,1.57,3.40,5.50,H,True
5,06/08/05,Werder Bremen,Bielefeld,5,2,H,1.44,3.75,6.50,H,True
7,07/08/05,Ein Frankfurt,Leverkusen,1,4,A,2.75,3.25,2.25,A,True
...,...,...,...,...,...,...,...,...,...,...,...
304,27/06/2020,Werder Bremen,FC Koln,6,1,H,1.57,4.20,5.25,H,True
305,27/06/2020,Wolfsburg,Bayern Munich,0,4,A,4.33,4.33,1.70,A,True
0,18/09/2020,Bayern Munich,Schalke 04,8,0,H,1.10,11.00,21.00,H,True
6,19/09/2020,Dortmund,M'gladbach,3,0,H,1.60,4.33,5.00,H,True
7,20/09/2020,RB Leipzig,Mainz,3,1,H,1.33,5.75,8.00,H,True

In [258]:
b365_right['fav']=np.where(b365_right['FTR']=='H',b365_right['HomeTeam'],b365_right['AwayTeam'])

In [259]:
b365_right

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,B365H,B365D,B365A,B365Result,Serie,fav
0,05/08/05,Bayern Munich,M'gladbach,3,0,H,1.30,5.00,9.50,H,True,Bayern Munich
2,06/08/05,FC Koln,Mainz,1,0,H,2.10,3.25,3.00,H,True,FC Koln
3,06/08/05,Hamburg,Nurnberg,3,0,H,1.57,3.40,5.50,H,True,Hamburg
5,06/08/05,Werder Bremen,Bielefeld,5,2,H,1.44,3.75,6.50,H,True,Werder Bremen
7,07/08/05,Ein Frankfurt,Leverkusen,1,4,A,2.75,3.25,2.25,A,True,Leverkusen
...,...,...,...,...,...,...,...,...,...,...,...,...
304,27/06/2020,Werder Bremen,FC Koln,6,1,H,1.57,4.20,5.25,H,True,Werder Bremen
305,27/06/2020,Wolfsburg,Bayern Munich,0,4,A,4.33,4.33,1.70,A,True,Bayern Munich
0,18/09/2020,Bayern Munich,Schalke 04,8,0,H,1.10,11.00,21.00,H,True,Bayern Munich
6,19/09/2020,Dortmund,M'gladbach,3,0,H,1.60,4.33,5.00,H,True,Dortmund
7,20/09/2020,RB Leipzig,Mainz,3,1,H,1.33,5.75,8.00,H,True,RB Leipzig

In [262]:
b365_fail

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,B365H,B365D,B365A,B365Result,Serie
1,06/08/05,Duisburg,Stuttgart,1,1,D,2.75,3.25,2.25,A,False
4,06/08/05,Hannover,Hertha,2,2,D,2.40,3.20,2.60,H,False
6,06/08/05,Wolfsburg,Dortmund,2,2,D,2.37,3.20,2.62,H,False
10,13/08/05,Dortmund,Schalke 04,1,2,A,2.50,3.00,2.62,H,False
14,13/08/05,M'gladbach,Wolfsburg,1,1,D,2.10,3.25,3.00,H,False
...,...,...,...,...,...,...,...,...,...,...,...
13,26/09/2020,Mainz,Stuttgart,1,4,A,2.37,3.50,2.90,H,False
14,26/09/2020,M'gladbach,Union Berlin,1,1,D,1.44,4.50,7.50,H,False
15,26/09/2020,Schalke 04,Werder Bremen,1,3,A,2.50,3.40,2.80,H,False
16,27/09/2020,Hoffenheim,Bayern Munich,4,1,H,11.00,7.50,1.20,A,False
17,27/09/2020,Freiburg,Wolfsburg,1,1,D,3.20,3.30,2.30,A,False

In [263]:
b365_fail['fav']=np.where(b365_fail['FTR']=='H',b365_fail['HomeTeam'],b365_fail['AwayTeam'])

In [264]:
b365_fail

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,B365H,B365D,B365A,B365Result,Serie,fav
1,06/08/05,Duisburg,Stuttgart,1,1,D,2.75,3.25,2.25,A,False,Stuttgart
4,06/08/05,Hannover,Hertha,2,2,D,2.40,3.20,2.60,H,False,Hertha
6,06/08/05,Wolfsburg,Dortmund,2,2,D,2.37,3.20,2.62,H,False,Dortmund
10,13/08/05,Dortmund,Schalke 04,1,2,A,2.50,3.00,2.62,H,False,Schalke 04
14,13/08/05,M'gladbach,Wolfsburg,1,1,D,2.10,3.25,3.00,H,False,Wolfsburg
...,...,...,...,...,...,...,...,...,...,...,...,...
13,26/09/2020,Mainz,Stuttgart,1,4,A,2.37,3.50,2.90,H,False,Stuttgart
14,26/09/2020,M'gladbach,Union Berlin,1,1,D,1.44,4.50,7.50,H,False,Union Berlin
15,26/09/2020,Schalke 04,Werder Bremen,1,3,A,2.50,3.40,2.80,H,False,Werder Bremen
16,27/09/2020,Hoffenheim,Bayern Munich,4,1,H,11.00,7.50,1.20,A,False,Hoffenheim
17,27/09/2020,Freiburg,Wolfsburg,1,1,D,3.20,3.30,2.30,A,False,Wolfsburg

In [267]:
b365_right['fav'].value_counts()

Bayern Munich         358
Dortmund              243
Leverkusen            198
Schalke 04            190
Werder Bremen         139
Wolfsburg             133
Stuttgart             126
M'gladbach            126
Hoffenheim             97
Hamburg                95
Hertha                 89
Ein Frankfurt          82
Mainz                  80
Hannover               64
RB Leipzig             64
Augsburg               47
FC Koln                43
Nurnberg               43
Freiburg               43
Bielefeld              16
Bochum                 13
Cottbus                12
Kaiserslautern         11
Ingolstadt              9
Fortuna Dusseldorf      6
Karlsruhe               5
Duisburg                4
Union Berlin            4
Aachen                  4
St Pauli                4
Paderborn               3
Hansa Rostock           3
Darmstadt               2
Braunschweig            1
Name: fav, dtype: int64

In [268]:
b365_fail['fav'].value_counts()

Ein Frankfurt         134
Werder Bremen         127
Mainz                 126
Wolfsburg             125
Hannover              124
Hertha                120
Hamburg               116
M'gladbach            113
Freiburg              113
Hoffenheim            110
Schalke 04            107
Leverkusen             99
Stuttgart              97
Dortmund               93
FC Koln                90
Augsburg               86
Nurnberg               80
Bayern Munich          53
Bielefeld              43
Bochum                 41
Fortuna Dusseldorf     34
Cottbus                31
RB Leipzig             26
Kaiserslautern         25
Darmstadt              20
Karlsruhe              19
Paderborn              18
Ingolstadt             17
Duisburg               14
Union Berlin           11
Braunschweig            9
Greuther Furth          9
Aachen                  8
Hansa Rostock           7
St Pauli                6
Name: fav, dtype: int64