In [1]:
import pandas as pd
import numpy as np
from scipy.stats import poisson

In [24]:
def league_matches(x):
    dfList = []
    for i in range(4, 21):
        df = pd.read_csv('http://www.football-data.co.uk/mmz4281/{0:02d}{1:02d}/D1.csv'.format(i,i+1)) ##ARREGLAR ESTO
        df = df[['Date','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HS', 'AS','B365H', 'B365D', 'B365A']]
        dfList.append(df)
        
        Data = dfList[0].append(dfList[1:])
    return Data

In [74]:
Data=league_matches('D1')

In [75]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4905 entries, 0 to 8
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      4905 non-null   object
 1   HomeTeam  4905 non-null   object
 2   AwayTeam  4905 non-null   object
 3   FTHG      4905 non-null   int64
 4   FTAG      4905 non-null   int64
 5   FTR       4905 non-null   object
 6   HS        4905 non-null   int64
 7   AS        4905 non-null   int64
 8   B365H     4905 non-null   float64
 9   B365D     4905 non-null   float64
 10  B365A     4905 non-null   float64
dtypes: float64(3), int64(4), object(4)
memory usage: 459.8+ KB

In [80]:
Data

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,B365H,B365D,B365A
0,06/08/04,Werder Bremen,Schalke 04,1,0,H,9,8,1.90,3.25,3.50
1,07/08/04,Dortmund,Wolfsburg,1,2,A,24,9,1.57,3.40,5.50
2,07/08/04,Freiburg,Hansa Rostock,0,0,D,13,7,2.10,3.25,3.00
3,07/08/04,Hamburg,Bayern Munich,0,2,A,13,12,3.25,3.25,2.00
4,07/08/04,Hertha,Bochum,2,2,D,21,12,1.83,3.25,3.75
...,...,...,...,...,...,...,...,...,...,...,...
4,19/09/2020,Union Berlin,Augsburg,1,3,A,13,9,2.30,3.30,3.20
5,19/09/2020,Werder Bremen,Hertha,1,4,A,17,13,2.60,3.50,2.62
6,19/09/2020,Dortmund,M'gladbach,3,0,H,9,8,1.60,4.33,5.00
7,20/09/2020,RB Leipzig,Mainz,3,1,H,23,8,1.33,5.75,8.00
8,20/09/2020,Wolfsburg,Leverkusen,0,0,D,9,6,2.87,3.50,2.37

In [82]:
Data['Date'] = pd.to_datetime(Data['Date'])

In [83]:
Data

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,B365H,B365D,B365A
0,2004-06-08,Werder Bremen,Schalke 04,1,0,H,9,8,1.90,3.25,3.50
1,2004-07-08,Dortmund,Wolfsburg,1,2,A,24,9,1.57,3.40,5.50
2,2004-07-08,Freiburg,Hansa Rostock,0,0,D,13,7,2.10,3.25,3.00
3,2004-07-08,Hamburg,Bayern Munich,0,2,A,13,12,3.25,3.25,2.00
4,2004-07-08,Hertha,Bochum,2,2,D,21,12,1.83,3.25,3.75
...,...,...,...,...,...,...,...,...,...,...,...
4,2020-09-19,Union Berlin,Augsburg,1,3,A,13,9,2.30,3.30,3.20
5,2020-09-19,Werder Bremen,Hertha,1,4,A,17,13,2.60,3.50,2.62
6,2020-09-19,Dortmund,M'gladbach,3,0,H,9,8,1.60,4.33,5.00
7,2020-09-20,RB Leipzig,Mainz,3,1,H,23,8,1.33,5.75,8.00
8,2020-09-20,Wolfsburg,Leverkusen,0,0,D,9,6,2.87,3.50,2.37